# OS
.DS_Store

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local

# Backend
backend/merchants.db
.venv/
env/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
